[class^='badge-'],
[class*=' badge-'] {
  margin-right: 12px;
  position: relative;

  &::before {
    border-radius: 50%;
    content: '';
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }
}

.badge-success::before {
  background-color: $success;
}

.badge-danger::before {
  background-color: $danger;
}
