.logo {
  color: inherit;
  display: block;
  font-size: 40px;
  line-height: 24px;
  position: relative;
  text-decoration: none;

  span {
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    margin-left: 8px;
    text-transform: uppercase;
  }

  &::before {
    background: #FBB710;
    border-radius: 50%;
    content: '';
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    z-index: $z-index-no;
  }
}

.mobile-nav {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  z-index: $z-index-lg;

  .logo {
    font-size: 20px;
    line-height: 12px;

    span {
      font-size: 10px;
    }

    &::before {
      height: 65px;
      width: 65px;
    }
  }

  .navbar-toggle-wrapper {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar-toggle {
    display: block;
    height: 36px;
    position: relative;
    user-select: none;
    width: 36px;
    z-index: $z-index-sm;

    span {
      background: #FBB710;
      display: block;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      transform-origin: center center;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1),
        opacity 0.55s ease;
      z-index: $z-index-sm;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    &.active {
      span {
        margin: 0;
        opacity: 0;

        &:first-child {
          opacity: 1;
          transform: rotate(45deg) translate(2px, -2px);
          width: 46px;
        }

        &:not(:first-child):not(:last-child) {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
          transform: rotate(-45deg) translate(-10px, 2px);
          width: 46px;
        }
      }
    }
  }
}

.header-area {
  display: none;
  padding: 60px 75px;

  nav li a {
    color: #131212;
    display: block;
    font-size: 20px;
    font-weight: $font-weight-bold;
    line-height: 0.9;
    padding: 20px 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      background-color: #FBB710;
      content: '';
      height: 3px;
      left: -150px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition-duration: 500ms;
      width: 30px;
      z-index: $z-index-md;
    }

    &:hover,
    &:focus {
      color: #FBB710;

      &::after {
        left: -75px;
      }
    }
  }
}
