.newsletter-form {
  display: flex;

  input {
    font-size: 14px;

    &[type='email'] {
      background-color: $white;
      border: none;
      color: #AFAFAF;
      height: 50px;
      padding: 0 20px;
      width: 100%;
    }

    &[type='submit'] {
      background-color: $brand-primary-color;
      border: none;
      color: $white;
      cursor: pointer;
      height: 50px;
      padding: 0 20px;
      width: 120px;
    }
  }
}
