.single-products-catagory {
  a {
    display: block;
    position: relative;
    width: 100%;
    z-index: $z-index-md;

    &::before {
      background-color: $single-product-line;
      content: '';
      height: $single-product-height;
      left: 40px;
      position: absolute;
      top: 30px;
      width: $single-product-width;
      z-index: $z-index-md;
    }

    &::after {
      background-color: rgba(60, 60, 60, 0.7);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition-duration: 250ms;
      visibility: visible;
      width: 100%;
      z-index: $z-index-sm;
    }
  }

  img {
    width: 100%;
  }

  .hover-content {
    color: #6D6D6D;
    left: 40px;
    position: absolute;
    top: 40px;
    transition-duration: 250ms;
    z-index: $z-index-md;

    p {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }

  &:focus,
  &:hover {
    a::after {
      opacity: 1;
    }

    .hover-content {
      color: #FFFFFF;
    }
  }
}
