$brand-primary-color: #FBB710;
$white: #FFFFFF;

$darkest-blue: #2A3F54;
$gray-1: #F7F7F7;
$gray-2: #EDEDED;
$gray-3: #D9DEE4;
$gray-4: #73879C;
$gray-5: #B3B1B1;

$danger: #FF5E5E;
$warning: #F5A623;
$success: #7ED321;

$blue-1: #439AFF;
