@import './reset';
@import './colors';
@import './variables';
@import './grid';
@import './fonts';
@import './components/SingleProduct';
@import './components/Header';

body {
  font-family: $font-family-primary;
}

.page {
  @media (max-width: $media-breakpoint-lg-down) {
    padding-top: 44px;
  }
}

.main-content-wrapper {
  display: grid;

  @media (min-width: $media-breakpoint-lg-up) {
    grid-template-columns: 320px 1fr;
  }
}

img {
  height: auto;
  max-width: 100%;
}

#scrollUp {
  background-color: $brand-primary-color;
  bottom: $scroll-button-position;
  box-shadow: $box-shadow-settings;
  color: $font-color-secondary;
  cursor: pointer;
  font-size: $font-size-xl;
  height: $scroll-button-size;
  line-height: $scroll-button-size;
  position: fixed;
  right: $scroll-button-position;
  text-align: center;
  transition-duration: 500ms;
  visibility: hidden;
  width: $scroll-button-size;
  z-index: $z-index-xl;
}
