@import './reset';
@import './colors';
@import './variables';
@import './grid';
@import './fonts';
@import './components/SingleProduct';
@import './components/Header';

body {
  font-family: $font-family-primary;
}

.main-content-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}
