@import './reset';
@import './colors';
@import './variables';
@import './grid';
@import './fonts';
@import './icons';
@import './components/SingleProduct';
@import './components/Header';
@import './components/NewsletterForm';
@import './components/ScrollUp';
@import './components/Container';
@import './components/NumberComponent';
@import './components/CustomButton';
@import './components/ProductDetail';
@import './components/Headings';
@import './components/CustomRating';
@import './components/CustomBadge';

body {
  font-family: $font-family-primary;
}

.page {
  @media (max-width: $media-breakpoint-lg-down) {
    padding-top: 44px;
  }
}

.newsletter-area {
  background-color: #3C3C3C;
  padding: 50px;
  position: relative;

  h2 {
    color: $white;
    font-size: 36px;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;

    span {
      color: $brand-primary-color;
    }
  }

  p {
    color: $gray-5;
  }
}

.main-content-wrapper {
  display: grid;

  @media (min-width: $media-breakpoint-lg-up) {
    grid-template-columns: 320px 1fr;
  }
}

img {
  height: auto;
  max-width: 100%;
}
