$navigation-bg-color: $darkest-blue;
$main-bg-color: $gray-1;
$top-bar-bg-color: $gray-2;
$top-bar-br-color: $gray-3;
$font-color-base: $gray-4;
$stat-item-bd-color: $gray-5;
$navigation-width: 260px;
$name-initial-size: 20px;

//Fonts
$font-family-primary: 'Roboto';
$font-family-icon: 'icomoon';
$font-size-base: 12px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

//Grid
$grid-columns: 12;
$grid-gap-size: 16px;

// Spaces
$space-xxxs: 4px;
$space-xxs: 6px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 28px;
$space-xxxl: 32px;

//Breakpoints
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

// Borders
$border-sm: 1px;
$border-md: 2px;
$border-lg: 3px;
$border-xl: 4px;
$border-xxl: 5px;
$border-style-base: solid;
$border-style-dashed: dashed;

//Count
$count-font-size: 40px;
$count-line-height: 47px;
