$navigation-bg-color: $darkest-blue;
$main-bg-color: $gray-1;
$top-bar-bg-color: $gray-2;
$top-bar-br-color: $gray-3;
$font-color-base: $gray-4;
$stat-item-bd-color: $gray-5;
$navigation-width: 260px;
$name-initial-size: 20px;

//Fonts
$font-family-primary: 'Roboto Condensed';
$font-family-icon: 'icomoon';
$font-size-base: 12px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-color-secondary: $white;

//Grid
$grid-columns: 12;
$grid-gap-size: 16px;

// Spaces
$space-xxxs: 4px;
$space-xxs: 6px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 28px;
$space-xxxl: 32px;

//Breakpoints
$media-breakpoint-sm-up: 576px;
$media-breakpoint-md-up: 768px;
$media-breakpoint-lg-up: 992px;
$media-breakpoint-xl-up: 1200px;

$media-breakpoint-sm-down: 575px;
$media-breakpoint-md-down: 767px;
$media-breakpoint-lg-down: 991px;
$media-breakpoint-xl-down: 1199px;

// Borders
$border-sm: 1px;
$border-md: 2px;
$border-lg: 3px;
$border-xl: 4px;
$border-xxl: 5px;
$border-style-base: solid;
$border-style-dashed: dashed;

//Count
$count-font-size: 40px;
$count-line-height: 47px;

//box-shadow
$box-shadow-settings: 0 2px 6px 0 rgba(0, 0, 0, 0.3);

//Scroll Button
$scroll-button-size: 40px;
$scroll-button-position: 60px;

// Single Product
$single-product-line: #FBB710;
$single-product-height: 3px;
$single-product-width: 80px;

// z-index
$z-index-sm: 1;
$z-index-md: 10;
$z-index-lg: 100;
$z-index-xl: 1000;
$z-index-no: -1;

// transition
$transition-settings: 0.6s ease;
